/* Parametros */
    
/* Normalizadores */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: 2px dashed purple;
}
/* Reglas recursivas */

/* Reglas generales */

/* Reglas Especificas */

/* Responsive */